:root {
  color-scheme: light dark;
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --color-bg: hsl(0, 0%, 100%);
  --color-text: hsl(0, 0%, 10%);
  --color-title-bg: hsl(205, 100%, 85%);
  --color-title-text: hsl(205, 100%, 30%);
  --color-divider: hsl(0, 0%, 88%);
  --slider-green: hsl(140, 70%, 45%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: hsl(0, 0%, 10%);
    --color-text: hsl(0, 0%, 90%);
    --color-divider: hsl(240, 3%, 24%);
  }
}

body {
  width: 200px;
  padding: 0.625rem;
  font-family: system-ui;
  text-align: left;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.title {
  background-color: var(--color-title-bg);
  color: var(--color-title-text);
  border-radius: 9999px;
  padding: 0.125rem 0.625rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  display: inline-block;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.toggle-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.divider {
  height: 1px;
  background-color: var(--color-divider);
  margin: 12px 0;
  border: none;
}

/* Toggle Switch CSS -> https://codepen.io/danklammer/pen/ExpWOPL?anon=true&view=pen */
.toggle {
  appearance: none;
  box-sizing: content-box;
  display: inline-block;
  position: relative;
  width: 4em;
  height: 2em;
  padding: 0.2em;
  border-radius: 1.5em;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background var(--ease-out-quart) 0.3s;
}
.toggle:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  width: 2em;
  height: 2em;
  font-family: system-ui;
  font-size: 1em;
  line-height: 2em;
  font-weight: 500;
  background: #fff;
  border-radius: 1.5em;
  text-transform: uppercase;
  text-indent: -2em;
  word-spacing: 2.55em;
  color: #fff;
  white-space: nowrap;
  transition: transform var(--ease-out-quart) 0.3s;
}
.toggle:checked {
  background-color: var(--slider-green);
}
.toggle:checked:before {
  transform: translateX(2em);
}
